
.body {margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0;
    background-image: url("Untitled.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%
    
    
 }

.cabeçalho {
    background-color: #3F3038;
    display: flex;
    
}

.logo {
    padding: 0 5px 0 40px;
}

.nome {
    padding: 15px 500px 10px 0;
}

.id1 {
    padding: 25px 400px 10px 10px;
}

.A {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding: 25PX 10PX 0 0;
}


.C {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding: 25PX 0 0 10PX;
}

.D {
    text-decoration: underline;
    color: #F361AF;
    font-size: 15px;
    padding: 22PX 0 0 20PX;
}


.RODAIMG {
    display: flex;
}
.REDES {
    padding: 0 0 0 640PX;
}
.RODAPE{
    background-color: #3F3038;
    margin-bottom: 0;
}   
.DIREITOS {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30PX 0 0 0;
}

.h1{ color: rgb(72, 59, 70);
    font-family:Helvetica, sans-serif;
    padding: 200px 0 0 800px ;
}

.p2{ color: rgb(72, 59, 70);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,;
font-size: 25px;
padding: 0 0 0 700px;
text-shadow: 0.2em 0.2em 0.3em rgb(255, 255, 255)
}