<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-wd2024 class="2 223"</title>
    <link rel="stylesheet" href="../static/css/boot/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style_index.css">

</head>



<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/23.png" alt="Logo" width="50" 

                        class="d-inline-block align-text-top">
                    
                </a> 
                <a class="navbar-brand" href="#">
                  <img src="../static/img/text-1729173915253.png" alt="Logo" width="200" 

                      class="d-inline-block align-text-top">
                  
              </a> 

              <div id="divBusca" class="id1">

                <input class="pesquisa" type="text" id="txtBusca" placeholder="Buscar..." />
        
            </div>
        
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">AJUDA</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../Hevellyn Melo/site.html">HOME</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">CONTATO</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../Hevellyn Melo/login.html">LOGIN</a>
                      </li>
                    </ul>
                  </div>
                
                
                <div>
                    
                </div>
            </div>
        </nav>
    </header>
    <main >
      <div class="container">
        <div class="row">
          <section class="col-6">
            <img src="../static/img/Untitled.jpg" alt="Logo" width="900" >
          </section>
          <section class="col-7">
            <img src="../static/img/Untitled(1).png" alt="Logo" width="300" >
          </section>
         
        </div>
       
      </div>
    </main>
    
    <footer>
      <div class="card-footer text-body-secondary bg-body-tertiary text-center" >
       Desenvolvido por Hevellyn
      </div>
      <DIV class="RODAIMG">
        <a href="https://www.instagram.com/hevesigner/profilecard/?igsh=N2t2N3NzZ2R4Z2gw">
            
            <figure class="R1">
                <img src="../static/img/IN.png" width="60px" />
               
    
            </figure>
        </a>
        <a href="https://br.pinterest.com/pin/8092474325475801/">
            
            <figure class="R2" >
                <img src="../static/img/PIN.png" width="60px" />
              
    
            </figure>
        </a>
        <a href="https://br.pinterest.com/pin/8092474325475801/">
            
            <figure  class="R3">
                <img src="../static/img/the.png" width="60px" />
              
    
            </figure>
        </a>
    
        <a href="https://br.pinterest.com/pin/8092474325475801/">
            
            <figure class="R4" >
                <img src="../static/img/X.png" width="60px" />
              
    
            </figure>
        </a>
        <a href="https://br.pinterest.com/pin/8092474325475801/">
            
            <figure class="R5" >
                <img src="../static/img/FE.png" width="60px" />
              
    
            </figure>
        </a>
    </DIV>
    </footer>
    <script type="module" src="../static/js/bootstrap.bundle.min.js"></script>



</body>



</html>